@import "tailwindcss";

@theme {
  --color-sky-100: #e0f2fe;
  --color-sky-800: #075985;
  --color-gray-50: #f9fafb;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-foreground, black);
}